@use "sass:color";
@use "sass:map";

// Breakpoint
$xxxl-width: 1700px;
$xxl-width: 1500px;
$xl-width: 1320px;
$lg-width: 1200px;
$md-width: 992px;
$sm-width: 700px;
$xs-width: 480px;
$xxs-width: 360px;
$gutter: 30px;
$breadcrumb-height: 6rem;

// Grid
$grid-columns: 12;
$column-width: calc(100 / $grid-columns);
$breakpoints: (
  xxs: (
    container: 100%,
    container-small: 100%,
    gutter: 2rem,
    gutter-ctn: 2rem,
  ),
  xs: (
    container: 100%,
    container-small: 100%,
    min-width: $xs-width,
    gutter: $gutter,
    gutter-ctn: 2rem,
  ),
  sm: (
    container: 100%,
    container-small: 100%,
    min-width: $sm-width,
    gutter: $gutter,
    gutter-ctn: 4.5rem,
  ),
  md: (
    container: 960px,
    container-small: 960px,
    min-width: $md-width,
    gutter: $gutter,
    gutter-ctn: 4.5rem,
  ),
  lg: (
    container: 1170px,
    container-small: 1170px,
    min-width: $lg-width,
    gutter: $gutter,
    gutter-ctn: 4.5rem,
  ),
  xl: (
    container: 1290px,
    container-small: 1290px,
    min-width: $xl-width,
    gutter: $gutter,
    gutter-ctn: 4.5rem,
  ),
  xxl: (
    container: 1500px,
    container-small: 1390px,
    min-width: $xxl-width,
    gutter: $gutter,
    gutter-ctn: 4.5rem,
  ),
  xxxl: (
    container: 1800px,
    container-small: 1800px,
    min-width: $xxxl-width,
    gutter: $gutter,
    gutter-ctn: 4.5rem,
  ),
);
$colors: (
  mono: (
    light: #fff,
    transLight: rgba(#fff, 0.5),
    dark: #000,
  ),
  primary: (
    base: #0b7c80,
  ),
  secondary: (
    base: #0b7c80,
    light: rgba(#0b7c80, 0.5),
  ),
  tertiary: (
    base: #ff5c00,
  ),
  text: (
    base: #000000,
    medium: #2f2f2f,
    light: #ffffff,
  ),
  alert: (
    warning: orange,
    danger: #e90a4e,
    success: #76d46c,
  ),
  grey: (
    base: #cbc8bf,
    medium: #7e8164,
  ),
  shadow: (
    base: rgb(3, 3, 3),
  ),
  border: (
    base: #cbc8bf,
  ),
  background: (
    base: #cbc8bf,
    medium: #2f2f2f,
    grey: #d9d9d9,
    greenGradient:
      radial-gradient(143.62% 141.23% at 52.18% 100%, #568827 0%, #000 100%),
  ),
  button: (),
);

@function color($color, $tone: "base") {
  @return map-get(map-get($colors, $color), $tone);
}

$size-desktop-1: 2rem;
$default: (
  font-size: (
    base: 1.6rem,
    small: 1.3rem,
    mobile: 1.2rem,
    desktop: 1.6rem,
    button: 2rem,
  ),
  font-family: (
    base: "Open Sans",
    //primary
    light: "Open Sans",
    //secondary
    secondary: "Open Sans",
    tertiary: "Open Sans",
    //tertiary
    icon: "icomoon",
    //icons
  ),
  weight: (
    base: 400,
    light: 300,
    bold: 600,
  ),
  radius: (
    base: 0.5rem,
    medium: 1rem,
    big: 10rem,
  ),
  line-height: (
    base: 2.2rem,
    small: 1.8rem,
  ),
);

@function default($property, $value: "base") {
  @return map-get(map-get($default, $property), $value);
}

$heights: (
  banner: (
    "base": 3rem,
    "xs": 4rem,
    "sm": 4rem,
    "md": 4rem,
    "lg": 4rem,
    "stack": 4rem,
  ),
  header: (
    "base": 5.5rem,
    "xs": 5.5rem,
    "sm": 5.5rem,
    "md": 5.5rem,
    "lg": 5.5rem,
    "nomenu": 13.6rem,
    "stack": 5.7rem,
    "stack-mobile": 7.2rem,
  ),
  footer: (
    "base": 10rem,
  ),
);

@function height($type, $size: "base") {
  @return map-get(map-get($heights, $type), $size);
}

$icons: (
  arrow-down: "\f078",
);

@function icon($icon) {
  @return map-get($icons, $icon);
}
