.btn {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;

  &-primary {
    font-family: $font-secondary;
    background-color: $secondary;
    border: 2px solid $secondary;
    border-radius: 1rem;
    color: $light;
    font-size: 2.4rem;
    padding: 0.5rem 3rem;
    transition: color 0.3s ease, background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: $xxl-width) {
      font-size: 2.4rem;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: $light;
      color: $secondary;

      a {
        color: $secondary;
      }
    }
  }

  &-secondary {
    border: 1px solid $primary;
    color: $primary;
    font-family: $font-primary;
    font-size: 2rem;
    outline: none;
    padding: 01rem 3rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.5s ease, color 0.5s ease;

    &:hover {
      background-color: $primary;
      color: $light;
    }

    &-light {
      border: 1px solid $light !important;
      color: $light;
      text-transform: none;
      font-family: $font-secondary;
      font-weight: 700;

      &:hover,
      &:focus,
      &:active {
        background-color: $light;
        color: $tertiary;
      }
    }
  }

  &-link {
    color: $primary;
    position: relative;

    &::before {
      content: " ";
      width: 0rem;
      height: 0.3rem;
      background-color: $secondary;
      display: block;
      position: absolute;
      left: 0;
      bottom: -0.5rem;
      transition: all 0.3s ease;
    }
    &:hover,
    &:focus,
    &:active {
      color: $secondary;

      &::before {
        width: 100%;
      }
    }
  }

  &-arrow {
    background-color: $secondary;
    width: 3rem;
    height: 3rem;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;

    &:hover,
    &:focus,
    &:active {
      background-color: $primary;
    }

    .icon {
      fill: $light;
    }
  }
}
