@import "~modules/Prismic/slices/Cards/Cards";
@import "~modules/Prismic/slices/Separator/Separator";
@import "~modules/Prismic/slices/Image/Image";
@import "~modules/Prismic/slices/TextAndImage/TextAndImage";
@import "~modules/Prismic/slices/PageTitle/PageTitle";

.slice {
  margin: auto;
  max-width: 1200px;
  margin-top: 2rem;
  width: 100%;

  @media (min-width: $sm-width) {
    margin-top: 5rem;
  }

  &-full {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
}
