@import "~web/assets/scss/commons/reset";
@import "~web/assets/scss/commons/variables";
@import "~web/assets/scss/commons/helpers";
@import "~web/assets/scss/commons/richtext";
@import "~web/components/components";
@import "~web/modules/modules";
@import "~web/layout/layout";
@import "~web/pages/pages";

html {
  font-family: default(font-family);
  font-size: 62.5%;
  overflow-x: hidden;
  text-size-adjust: 100%;
  color: color(text, medium);
  position: relative;
  overflow: hidden !important;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  line-height: 2rem;
}

* {
  -webkit-tap-highlight-color: transparent;
}

.page-content {
  margin: auto;
  max-width: 1200px;
  padding-bottom: 5rem;
  width: 100%;
}

.lg-thumb-item {
  border: none !important;
}
