@import "Header/Header";
@import "Footer/Footer";

.generic-layout {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  &__content {
    position: relative;
    max-width: $lg-width;
    margin: auto;
    padding: 0 2rem;
    min-height: 100vh;
  }
}
